*{
  margin: 0;
  padding: 0;
}

body{
  color: #ffba02;
  font-family: Arial, Helvetica, sans-serif;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  padding: 4em 3em;
  width: 49%;
}

.hero .title{
  color: #ffba02;
  font-size: 3em;
  margin-bottom: .5em;
}

.hero p{
  letter-spacing: 1px;
  line-height: 1.5;
  color: pink;
  margin-bottom: 1em;
}

.btn{
  background: #ffba02;
  color: #fff;
  padding: .5em 1em;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1em;
  border: none;
  margin-right: .5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.pricing h1{
  text-align: center;
  font-size: 2.5em;
}

.pricing-table{
  padding: 3em;
  display: flex;
}

.pricing-card{
  background-color: rgba(255, 255, 255, .3);
  padding: 1em;
  border-radius: 5px;
  /* display: flex; */
  /* transform: translate(100px, 100px);
  animation: .5s slideIn; */
}

@keyframes slideIn{
  to{
    transform: translate(0, 0);
  }
}

.pricing-card:nth-child(2){
  margin: 0 2em;
}

.pricing-card .title{
  font-size: 1.5em;
  font-weight: bold;
}

.pricing-card .info{
  margin: 1em 0;
}

.pricing-card .btn{
  background: #ffba02;
  cursor: pointer;
}